body {
    background: #C33764;
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: black;
}

#score {
    font-size: 20px;
    margin-left: 20px;
    font: bold;
}

#timer {
    font-size: 20px;
    float: right;
    margin-right: 20px;
    font: bold;
}

#command {
    color: red;
    font: bold;
    font-size: 25px;
}

#confidence {
    font-size: 25px;
}

#sketch {
    font-size: 25px;
}

